<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>main.saep.StatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>alteracoes</servlet-name>
        <servlet-class>main.saep.AlteracoesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alteracoes</servlet-name>
        <url-pattern>/alteracoes/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>parecer</servlet-name>
        <servlet-class>main.saep.ParecerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parecer</servlet-name>
        <url-pattern>/parecer/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resolucoes</servlet-name>
        <servlet-class>main.saep.ResolucoesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resolucoes</servlet-name>
        <url-pattern>/resolucoes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resolucao</servlet-name>
        <servlet-class>main.saep.ResolucaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resolucao</servlet-name>
        <url-pattern>/resolucao/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>radoc</servlet-name>
        <servlet-class>main.saep.RadocServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>radoc</servlet-name>
        <url-pattern>/radoc/*</url-pattern>
    </servlet-mapping>
</web-app>